html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

[hidden] {
  display: none;
}

.container {
  position: relative;
  height: 100%;
}

.comments {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  box-sizing: border-box;
}

html:not(.style-scope) {
  --yt-live-chat-primary-text-color: rgb(0, 0, 0);
  --yt-live-chat-secondary-text-color: rgba(0, 0, 0, 0.6);
  --yt-live-chat-tertiary-text-color: rgba(0, 0, 0, 0.4);
  --yt-live-chat-text-input-field-placeholder-color: rgba(0, 0, 0, 0.6);
  --yt-live-chat-moderator-color: hsl(225, 84%, 66%);
  --yt-live-chat-author-chip-owner-text-color: rgba(0, 0, 0, 0.87);
  --yt-live-chat-sponsor-color: #107516;
  --yt-live-chat-emoji-size: 24px;
}

html:not(.style-scope) {
  --layout_-_display: flex;
  --layout-horizontal_-_display: var(--layout_-_display);
  --layout-horizontal_-_-ms-flex-direction: row;
  --layout-horizontal_-_-webkit-flex-direction: row;
  --layout-horizontal_-_flex-direction: row;
  --layout-vertical_-_display: var(--layout_-_display);
  --layout-vertical_-_-ms-flex-direction: column;
  --layout-vertical_-_-webkit-flex-direction: column;
  --layout-vertical_-_flex-direction: column;
  --layout-flex-none_-_-ms-flex: none;
  --layout-flex-none_-_-webkit-flex: none;
  --layout-flex-none_-_flex: none;
  --layout-flex_-_-ms-flex: 1 1 0.000000001px;
  --layout-flex_-_-webkit-flex: 1;
  --layout-flex_-_flex: 1;
  --layout-flex_-_-webkit-flex-basis: 0.000000001px;
  --layout-flex_-_flex-basis: 0.000000001px;
  --layout-center_-_-ms-flex-align: center;
  --layout-center_-_-webkit-align-items: center;
  --layout-center_-_align-items: center;
  --layout-baseline_-_-ms-flex-align: baseline;
  --layout-baseline_-_-webkit-align-items: baseline;
  --layout-baseline_-_align-items: baseline;
  --layout-justified_-_-ms-flex-pack: justify;
  --layout-justified_-_-webkit-justify-content: space-between;
  --layout-justified_-_justify-content: space-between;
}

yt-img-shadow {
  display: inline-block;
  transition: opacity 0.2s;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

img.yt-img-shadow {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: none;
  max-width: 100%;
  border-radius: none;
}

span.yt-live-chat-author-chip {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

yt-live-chat-author-chip {
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#author-name.yt-live-chat-author-chip {
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--yt-live-chat-secondary-text-color);
  font-weight: 500;
}

#author-name.yt-live-chat-author-chip[type='moderator'] {
  color: var(--yt-live-chat-moderator-color);
}

#author-name.yt-live-chat-author-chip[type='owner'] {
  background-color: #ffd600;
  color: var(--yt-live-chat-author-chip-owner-text-color);
}

#author-name.yt-live-chat-author-chip[type='member'] {
  color: var(--yt-live-chat-sponsor-color);
}

#chip-badges.yt-live-chat-author-chip:empty {
  display: none;
}

div.yt-live-chat-author-medal-renderer {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

yt-live-chat-author-medal-renderer {
  margin: 0 0 0 4px;
  text-shadow: none;
  display: inline-block;
}

.yt-live-chat-author-medal-renderer {
  font-size: 14px;
  line-height: 14px;
}

#medal-card.yt-live-chat-author-medal-renderer {
  position: relative;
  width: max-content;
  background: var(--yt-live-chat-medal-background-color, #222222);
  border: var(--yt-live-chat-medal-border-color, #222222) solid 2px;
  border-radius: 4px;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

#medal-name.yt-live-chat-author-medal-renderer {
  text-shadow: none;
  padding: 2px 4px;
  color: #ffffff;
}

#medal-level.yt-live-chat-author-medal-renderer {
  padding: 2px 4px;
  font-weight: 700;
  text-shadow: none;
  text-align: center;
  background-color: #ffffff;
  color: var(--yt-live-chat-medal-text-color, #222222);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#timestamp.yt-live-chat-membership-item-renderer {
  margin: var(--yt-live-chat-item-timestamp-margin, 0 8px 0 0);
  color: var(--yt-live-chat-tertiary-text-color);
  font-size: 11px;
}

#author-photo.yt-live-chat-membership-item-renderer {
  display: block;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 50%;
  -ms-flex: var(--layout-flex-none_-_-ms-flex);
  -webkit-flex: var(--layout-flex-none_-_-webkit-flex);
  flex: var(--layout-flex-none_-_flex);
}

yt-live-chat-membership-item-renderer {
  position: relative;
  display: block;
  --yt-live-chat-sponsor-header-color: #0a8043;
  --yt-live-chat-sponsor-color: #0f9d58;
  --yt-live-chat-sponsor-text-color: #fff;
  padding: 4px 24px;
}

#card.yt-live-chat-membership-item-renderer {
  overflow: hidden;
  font-size: 14px;
  border-radius: 4px;
  display: var(--layout-vertical_-_display);
  -ms-flex-direction: var(--layout-vertical_-_-ms-flex-direction);
  -webkit-flex-direction: var(--layout-vertical_-_-webkit-flex-direction);
  flex-direction: var(--layout-vertical_-_flex-direction);
  box-shadow: var(--shadow-elevation-2dp_-_box-shadow);
}

#header.yt-live-chat-membership-item-renderer {
  position: relative;
  background-color: var(--yt-live-chat-sponsor-header-color);
  padding: 8px 16px;
  color: #000;
  min-height: 20px;
  display: var(--layout-horizontal_-_display);
  -ms-flex-direction: var(--layout-horizontal_-_-ms-flex-direction);
  -webkit-flex-direction: var(--layout-horizontal_-_-webkit-flex-direction);
  flex-direction: var(--layout-horizontal_-_flex-direction);
  -ms-flex-align: var(--layout-center_-_-ms-flex-align);
  -webkit-align-items: var(--layout-center_-_-webkit-align-items);
  align-items: var(--layout-center_-_align-items);
}

#header-content.yt-live-chat-membership-item-renderer {
  display: var(--layout-horizontal_-_display);
  -ms-flex-direction: var(--layout-horizontal_-_-ms-flex-direction);
  -webkit-flex-direction: var(--layout-horizontal_-_-webkit-flex-direction);
  flex-direction: var(--layout-horizontal_-_flex-direction);
  -ms-flex-pack: var(--layout-justified_-_-ms-flex-pack);
  -webkit-justify-content: var(--layout-justified_-_-webkit-justify-content);
  justify-content: var(--layout-justified_-_justify-content);
  -ms-flex: var(--layout-flex_-_-ms-flex);
  -webkit-flex: var(--layout-flex_-_-webkit-flex);
  flex: var(--layout-flex_-_flex);
  -webkit-flex-basis: var(--layout-flex_-_-webkit-flex-basis);
  flex-basis: var(--layout-flex_-_flex-basis);
  -ms-flex-align: var(--layout-baseline_-_-ms-flex-align);
  -webkit-align-items: var(--layout-baseline_-_-webkit-align-items);
  align-items: var(--layout-baseline_-_align-items);
}

#author-photo.yt-live-chat-membership-item-renderer {
  width: 40px;
  height: 40px;
}

#header-subtext.yt-live-chat-membership-item-renderer {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 15px;
}

#header-primary-text.yt-live-chat-membership-item-renderer {
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

#header-primary-text.yt-live-chat-membership-item-renderer:empty {
  display: none;
}

#content.yt-live-chat-membership-item-renderer {
  background-color: var(--yt-live-chat-sponsor-color);
  color: var(--yt-live-chat-sponsor-text-color);
  padding: 8px 16px;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 15px;
  line-height: 20px;
}

#content.yt-live-chat-membership-item-renderer img.yt-live-chat-membership-item-renderer {
  /* B站表情有不是正方形的 */
  /* width: var(--yt-live-chat-emoji-size); */
  width: auto;
  height: var(--yt-live-chat-emoji-size);

  margin: -1px 2px 1px 2px;
  vertical-align: middle;
}

div.yt-live-chat-paid-message-renderer,
span.yt-live-chat-paid-message-renderer {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

#timestamp.yt-live-chat-paid-message-renderer {
  margin: var(--yt-live-chat-item-timestamp-margin, 0 8px 0 0);
  color: var(--yt-live-chat-tertiary-text-color);
  font-size: 11px;
}

#author-photo.yt-live-chat-paid-message-renderer {
  display: block;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 50%;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

yt-live-chat-paid-message-renderer {
  position: relative;
  display: block;
  padding: 4px 24px;
  font-size: 15px;
  --yt-live-chat-paid-message-background-color: var(--yt-live-chat-paid-message-primary-color);
  --yt-live-chat-paid-message-header-background-color: var(--yt-live-chat-paid-message-secondary-color);
  --yt-live-chat-text-input-field-placeholder-color: var(--yt-live-chat-paid-message-color);
}

#card.yt-live-chat-paid-message-renderer {
  border-radius: 4px;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#header.yt-live-chat-paid-message-renderer {
  position: relative;
  background-color: var(--yt-live-chat-paid-message-header-background-color, #125aac);
  color: #000;
  font-weight: 500;
  padding: 8px 16px;
  min-height: 20px;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#author-photo.yt-live-chat-paid-message-renderer {
  width: 40px;
  height: 40px;
}

#header-content.yt-live-chat-paid-message-renderer {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

#header-content-primary-column.yt-live-chat-paid-message-renderer {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}∂

#author-name.yt-live-chat-paid-message-renderer {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

#content.yt-live-chat-paid-message-renderer {
  background-color: var(--yt-live-chat-paid-message-background-color, #1565c0);
  color: #000;
  padding: 8px 16px;
  word-wrap: break-word;
  word-break: break-word;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#content.yt-live-chat-paid-message-renderer img.yt-live-chat-paid-message-renderer {
  /* B站表情有不是正方形的 */
  width: auto;
  height: var(--yt-live-chat-emoji-size);
  margin: -1px 2px 1px 2px;
  vertical-align: middle;
}

div.yt-live-chat-text-message-renderer,
img.yt-live-chat-text-message-renderer,
span.yt-live-chat-text-message-renderer {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

#timestamp.yt-live-chat-text-message-renderer {
  margin: var(--yt-live-chat-item-timestamp-margin, 0 8px 0 0);
  color: var(--yt-live-chat-tertiary-text-color);
  font-size: 11px;
}

#author-photo.yt-live-chat-text-message-renderer {
  display: block;
  margin-right: 16px;
  /* overflow: hidden; */
  border-radius: 50%;
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

yt-live-chat-text-message-renderer {
  font-size: 16px;
  padding: 4px 24px;
  --yt-endpoint-color: var(--yt-live-chat-primary-text-color, hsl(0, 0%, 6.7%));
  --yt-endpoint-hover-color: var(--yt-live-chat-primary-text-color, var(--yt-endpoint-color));
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

yt-live-chat-text-message-renderer:hover {
  overflow: initial;
}

#card.yt-live-chat-text-message-renderer {
  display: flex;
  flex-direction: row !important;
}

#content.yt-live-chat-text-message-renderer {
  display: inline;
  align-items: flex-start;
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
  min-width: 0;
}

yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
  margin-right: 8px;
}

#image-and-message #message.yt-live-chat-text-message-renderer {
  color: var(--yt-live-chat-primary-text-color, var(--yt-primary-text-color));
  /* display: inline; */
  width: fit-content;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-style: var(--yt-live-chat-text-message-renderer-message-message-style_-_font-style);
  opacity: var(--yt-live-chat-text-message-renderer-message-message-style_-_opacity);
}

#image-and-message.yt-live-chat-text-message-renderer .emoji.yt-live-chat-text-message-renderer {
  /* B站表情有不是正方形的 */
  width: auto;
  height: var(--yt-live-chat-emoji-size);
  margin: -1px 2px 1px 2px;
  vertical-align: middle;
}

#image-and-message.yt-live-chat-text-message-renderer a.yt-live-chat-text-message-renderer {
  display: inline;
  text-decoration: underline;
  word-break: break-all;
}

#image-and-message.yt-live-chat-text-message-renderer a.yt-live-chat-text-message-renderer .mention.yt-live-chat-text-message-renderer {
  text-decoration: underline;
}

div.yt-live-chat-ticker-paid-message-item-renderer,
img.yt-live-chat-ticker-paid-message-item-renderer,
span.yt-live-chat-ticker-paid-message-item-renderer {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

div.yt-live-chat-ticker-paid-message-item-renderer,
img.yt-live-chat-ticker-paid-message-item-renderer,
span.yt-live-chat-ticker-paid-message-item-renderer {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

yt-live-chat-ticker-paid-message-item-renderer {
  display: inline-block;
  font-size: 14px;
  outline: none;
  transition: width 0.2s;
  vertical-align: top;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  --yt-live-chat-ticker-item-primary-color: none;
  --yt-live-chat-ticker-item-secondary-color: none;
}

#container.yt-live-chat-ticker-paid-message-item-renderer {
  border-radius: 999px;
  padding: 4px;
}

yt-img-shadow.yt-live-chat-ticker-paid-message-item-renderer {
  margin-right: -4px;
  overflow: hidden;
  border-radius: 50%;
}

#content.yt-live-chat-ticker-paid-message-item-renderer {
  height: 24px;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#text.yt-live-chat-ticker-paid-message-item-renderer {
  margin: 0 8px;
  font-weight: 500;
}

div.yt-live-chat-ticker-renderer {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

yt-live-chat-ticker-renderer {
  display: block;
  background-color: transparent;
}

#container.yt-live-chat-ticker-renderer {
  position: relative;
}

#items.yt-live-chat-ticker-renderer {
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 24px 8px 24px;
}

#items.yt-live-chat-ticker-renderer>*.yt-live-chat-ticker-renderer {
  margin-right: 8px;
}
#timestamp{
  display: none;
}
#author-photo {
  width: 40px;
  height: 40px;
}